<%- include("../components/header.ejs") %>

<body>
    <%- include("../components/navigation.ejs") %>
    <%- include("../components/itemboxes.ejs") %>
    <%- include("../components/socialbox.ejs") %>
    <%- include("../components/footer.ejs") %>
</body>

</html>