<%- include("../components/header.ejs") %>
<body>

    <%- include("../components/navigation.ejs") %>
        <% catalog.forEach((element) =>{ %>

            <div>
              <a href="/<%- element.name %>"> <%= element.name %></a> 
            </div>

        <% }) %>

    <%- include("../components/footer.ejs") %>

</body>

</html>