<%- include("../components/header.ejs") %>
<body>
<%- include("../components/navigation.ejs") %>
    <div class="wrapper">
        
        <div class="PDP-product">
            <div class="PDP-image-holder">
                <img class="PDP-image" src="/img<%= item.url %>" />
            </div>
            <div class="PDP-content">
                <% Object.keys(item).forEach((key) => { %>
                    <h1><%= key %>: <%= item[key] %></h1>
                <% }) %> 
                <div class="PDP-buy">
                    <button class="itemboxes-buybutton PDP-buy-btn">BUY NOW</button>
                </div>           
            </div>
        </div>
    </div>
<%- include("../components/footer.ejs") %>
</body>
</html>
