<%- include('../components/header.ejs') %>

<body>
    <%- include("../components/navigation.ejs") %>
    <div class="wrapper">
        <div class="product-flex">    
        <% items.forEach(function (item){ %>
            <div class="product-container" id="<%= item.name  %>">
                <a href="/<%= path %>/<%= item.name %>"><h1> <%= item.title %> </h1> </a>
                <img src="/img<%= item.url %>">
                <p> <%= item.body %> </p>

                <h2>
                    <%= item.price %> 
                    <%= item.currency %> <br>
                </h2>
                
            </div>

        <% })%>
        </div>
    </div>

    <%- include("../components/footer.ejs") %>
</body>

</html>