<%- include("header.ejs") %>

<body>
    <%- include("navigation.ejs") %>
        <%- include("shopstorybox.ejs") %>
            <%- include("socialbox.ejs") %>
                <%- include("footer.ejs") %>
</body>

</html>