<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include("navigation.ejs") %>
    <% items.forEach(function (item){ %>
    <div id="<%= item.name  %>">
        <a href="/<%= path %>/<%= item.name %>"><h1> <%= item.title %> </h1> </a>
        <img src="/images<%= item.url %>">
        <p> <%= item.body %> </p>

        <h2>
            <%= item.price %> 
            <%= item.currency %> <br>
        </h2>
        
    </div>

    <% })%>

    <%- include("footer.ejs") %>
</body>

</html>