
<div class="wrapper">
    <% featuredItems.forEach((item, index) => {  %>
    <div class="shopstorybox 
        <% if(index % 2 == 1) { %> <%- 'inverted' %> <% } %>
    ">
        
        <div class="shopstorybox-picture">
            <img src="img<%= item.url %>">
        </div>
        <div class="shopstorybox-text">
            <h1><%= item.title %></h1>
            <p><%= item.body %></p>
            <p><%= item.price %> <%= item.currency %></p>
            <button class="itemboxes-buybutton add-to-basket" data-id="<%= item.name %>">Buy Now!!!</button>
        </div>
    </div>
    
    <% }) %>
</div>